<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GracewellChurchBotNav"
        tools:targetApi="31">
        <activity
            android:name=".ui.Volunteer.VolunteerChoiceForm"
            android:exported="false" />
        <activity
            android:name=".ui.Volunteer.AdminAddVolunteerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CommunityChat.CreateCommunityChatPost"
            android:exported="false" />
        <activity
            android:name=".ui.CommunityChat.CommunityChatView"
            android:exported="false" />
        <activity
            android:name=".ui.CommunityChat.CommunityChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Volunteer.VolunteerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.JoinMinistry.JoinMinFormActivity"
            android:exported="false" />
        <activity
            android:name=".ui.JoinMinistry.AssistantInternshipActivity"
            android:exported="false" />
        <activity
            android:name=".ui.JoinMinistry.SongsterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.JoinMinistry.GTeamActivity"
            android:exported="false" />
        <activity
            android:name=".ui.JoinMinistry.JoinMinMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.JoinMinistry.JoinMinistryActivity"
            android:exported="false"
            android:label="@string/title_activity_join_ministry"
            android:theme="@style/Theme.GracewellChurchBotNav" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>